---
---

@import "{{ site.theme }}";

header {
  width: 100%;
  padding: 20px;
  background-color: #76200d; /* Optional: Add background color */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Space between image and title */
}

.header-image {
    width: 100px; /* Adjust size */
    height: auto;
}
