---
---

@import "{{ site.theme }}";

.header-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between image and title */
}

.header-image {
    width: 80px; /* Adjust size */
    height: auto;
}
